<div id="<%= dom_id chou_love_picture %>">
  <p>
    <strong>Latitude:</strong>
    <%= chou_love_picture.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= chou_love_picture.longitude %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= chou_love_picture.name %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= chou_love_picture.file_path %>
  </p>

</div>
