<div id="<%= dom_id picture %>">
  <p>
    <strong>Latitude:</strong>
    <%= picture.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= picture.longitude %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= picture.name %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= picture.file_path %>
  </p>

</div>
